header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:16px 24px;
    position:sticky;
    top:0;
}
header > a{
    text-decoration:none;
    font-weight:700;
    font-size:24px;
    color:var(--color-coffee);
}
header nav{
    display:flex;
    align-items:center;
    gap:var(--space-4);
}
@media (max-width:599px){
    header{
        position:static;
        flex-direction:column;
        gap:var(--space-3);
    }
    header nav{
        position:fixed;
        bottom:0;
        left:0;
        width:100%;
        justify-content:space-around;
        padding:var(--space-3);
        background-color:var(--color-card);
    }
}
